.banner.parallax-container {
   position: relative;
   height: fit-content;
   overflow: hidden;
   background-color: #f3f0f7;
}

.banner .parallax-image {
   position: absolute;
   top: auto;
   bottom: 0;
   height: fit-content !important;
   transition:
      opacity 400ms ease,
      bottom 50ms ease;
}

.hidden {
   opacity: 0 !important;
}

.parallax-image img {
   position: static !important;
   margin-inline: auto;
   min-width: 80vh !important;
   object-position: bottom center;
}

.storyteller-image-banner__grid {
   display: flex;
   flex-direction: column;
   width: min(100%, 1200px);
   gap: 1em;
   padding: 2rem;
}

.storyteller-image-banner__text-container {
   width: 100%;
}

.image-with-text__content {
   padding: 0.8em !important;
}

.storyteller-image-banner__media {
   min-height: auto !important;
}

.storyteller-image-banner__media img {
   position: static !important;
   width: auto !important;
   height: auto !important;
   max-width: 80vw;
   max-height: 50vh;
}

.round_hero_image img {
   border-radius: 50%;
   margin-inline: auto;
}

.button-holder {
   display: flex;
   gap: 12px;
   flex-wrap: wrap;
   width: 100%;
}

.button-holder .button {
   flex: 1 1 auto;
}

.hero-text {
   font-size: 1.7rem;
   font-weight: 500;
   margin-bottom: 1.25em;
}

@media screen and (min-width: 750px) {
   .storyteller-image-banner__grid {
      flex-direction: row;
      padding: 4rem;
   }

   .flex-1 {
      flex: 1;
   }

   .flex-2 {
      flex: 2;
   }

   .flex-3 {
      flex: 3;
   }

   .parallax-image img {
      min-width: 100vw !important;
   }
}